<!DOCTYPE html>
{% extends 'home_navbar.html' %}
{% load static %}

<html lang="en">
<head>
  <title>Student Login</title>
    <meta charset="UTF-8">
  <title>Student Login</title></head>

{% block body %}
{% ifequal error "no" %}
<script>
    alert('Logged in Successfully')
    window.location=("{% url 'student' sid %}")
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert('Invalid Login, Try Again')
</script>
{% endifequal %}
<form  method="post">
  <div align="center" class="imgcontainer">
      <h2 style="color:blue">Student Login</h2>
    <img src="/static/images/student.png" alt="Student" class="student">
  </div>

  <div align="center" class="container">
    {% csrf_token %}
    <label ><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>
    <br>
    <label ><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="pwd" required><br>
    <button type="submit" class="btn btn-primary" >Login</button><br>

  </div>


</form>
{% endblock %}